/*Selector universal*/
*{
    color: red;
}
h1, h2, h3{
    border: solid 2px black;
    background-color:beige;
    text-align: center;
    padding: 15px;
}
/*selector descendente*/
pspan{
    border:  double 4px black;
    background-color: green;
}
#etiquetasDeBloque ul li{
    text-decoration: underline;
    color: darkgoldenrod;
}
/*Selector de clase */
.Destacado{
    background-color: red;

}
.destacado:hover{
    background-color: crimson;
}
#pieDePagina {
    box-shadow: 0px 4px 8px black;
    border-radius:  5px;
    padding: 5px 20px;
    margin: 10px;
    background-color: red;
}